* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/Nunitoregular.woff");
}

@font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/Nunitobold.woff");
    font-weight: bold;
}

body {
    font-family: "Nunito", sans-serif;
    display: flex;
    min-height: 100vh;
}


/* SIDEBAR */
.sidebar {
    flex-shrink: 0;
    width: 250px;
    padding-left: 17px;
    padding-right: 17px;
    background: #F7F7F7;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #E2E2E2;
}

.logo {
    display: block;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 27px;
}

.logo img {
    width: 87px;
}

.navigation ul {
    list-style: none;
}

.navigation-item a {
    display: flex;
    align-items: center;
    padding: 13px 15px;
    text-decoration: none;
    font-size: 14px;
    color: #858796;
}

.navigation-item.active a,
.navigation-item:hover a {
    background: #467DF2;
    border-radius: 5px;
    color: white;
}

.navigation-item svg {
    fill: #858796;
    padding-right: 10px;
}

.navigation-item.active svg,
.navigation-item:hover svg {
    fill: white;
}

.feedback {
    padding: 13px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    position: fixed;
    width: 216px;
    bottom: 17px;
    left: 17px;
}

.feedback:hover {
    border-color: #467DF2;
}

.feedback svg {
    float: left;
    padding: 0 6px 7px 0;
}

.feedback p {
    font-size: 14px;
    line-height: 19px;
    color: #4F4E4F;
}

.feedback a {
    text-decoration: none;
}


/* MAIN */
main {
    flex-grow: 1;
    background: #EDEEF3;
}


/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background: #F7F7F7;
    border: 1px solid #E2E2E2;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-left-item,
.header-right-item {
    padding: 0 20px;
}

.header-left-item:first-child {
    padding-right: 40px;
}

.header-left-item a {
    text-decoration: none;
    font-size: 14px;
    color: #858796;
}

.header-left-item a svg {
    fill: #858796;
    padding-left: 5px;
}

.header-left-item:hover > a,
.toggle-list a:hover,
.header-left-item:hover svg {
    fill: #3D63D2;
    color: #3D63D2;
    cursor: pointer;
}

.tasks {
    position: relative;
}

.toggle-list {
    display: none;
    position: absolute;
    width: 150px;
    top: 10px;
    left: 14px;
    padding-top: 28px;
}

.tasks:hover .toggle-list {
    display: block;
}

.toggle-list ul {
    background: white;
    box-shadow: 0 4px 20px 0 #66666626;
    border-radius: 10px;
    padding: 30px 20px;
    list-style: none;
}

.toggle-list ul li:not(:last-child) {
    padding-bottom: 15px;
}

.toggle-list a {
    text-decoration: none;
}

.search {
    display: flex;
    align-items: center;
    padding: 10px 20px 11px;
    background: #EFEFF5;
    border-radius: 10px;
    border: 1px solid #E2E2E2;
    width: 373px;
    box-sizing: border-box;
    margin-right: 20px;
}

.search svg {
    padding-right: 10px;
}

.search input {
    flex-grow: 1;
    outline: none;
    color: #4F4E4F;
    background: inherit;
    border: 0;
}

.search input::placeholder {
    color: #B3B3B3;
    font-size: 14px;
}

.icon svg {
    fill: #858796;
}

.icon:hover svg {
    fill: #467DF2;
}

.button {
    padding: 10px 18px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background: #467DF2;
    border-radius: 10px;
    border: 0;
}

.button:hover {
    background: #2F54A3;
}


/* TITLE */
.title {
    padding: 25px 40px 20px;
}

.title h1 {
    font-size: 35px;
    font-weight: bold;
    color: #4F4E4F;
}


/* MAIN SECTION */
.main-section {
    padding: 0 55px 73px 55px;
    display: flex;
    flex-wrap: wrap;
}


/* VIDEO-ITEM */
.video-item {
    width: 350px;
    border-radius: 10px;
    background: white;
    position: relative;
    margin: 20px;
}

.video-item:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.video-item-state {
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.video-item-state.moderation {
    background: #F7F7F7CC;
    color: #4F4E4F;
}

.video-item-state.published {
    background: #C6E0C3;
    color: #027900;
}

.video-item-state.error {
    background: #FFBCBCCC;
    color: #DB0C0C;
}

.video-item-preview {
    font-size: 0;
}

.video-item-description {
    padding: 20px 27px;
    color: #4F4E4F;
}

.video-item-description h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    padding-bottom: 8px;
}

.video-item-description p {
    font-size: 15px;
    padding-bottom: 18px;
}

.video-item-actions ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.video-item-actions svg {
    fill: #858796;
}

.video-item-actions a:hover svg {
    fill: #467DF2;
    cursor: pointer;
}


/* SUPPORT */
.support {
    padding: 10px 20px 20px;
    border-radius: 10px 10px 0 0;
    background: #467DF2;
    display: flex;
    position: fixed;
    top: 400px;
    right: -83px;
    align-items: center;
    transform: rotate(-90deg);
}

.support:hover {
    cursor: pointer;
    background: #2F54A3;
    right: -73px;
    transition: right 0.5s;
}

.support svg {
    margin-right: 10px;
    transform: rotate(90deg);
}

.support p {
    font-size: 14px;
    font-weight: bold;
    color: white;
}
